{% extends "base.html" %}
{% load static %}
{% block includes %}
    <link rel="stylesheet" href="{% static 'lib/ol/v7_3_0/ol.css' %}">
    <link rel="stylesheet" href="{% static 'lib/olcs/v2_13_1/olcs.css' %}">
    <script src="{% static 'lib/ol/v7_3_0/ol.js' %}"></script>
    <script src="{% static 'lib/olcs/v2_13_1/olcesium.js' %}"></script>
    <!--<script src="{% static 'lib/cesium/v1_104/cesium.min.js' %}"></script>-->
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.81/Build/Cesium/Cesium.js"></script>
    <link rel="stylesheet" href="https://cesium.com/downloads/cesiumjs/releases/1.81/Build/Cesium/Widgets/NavigationHelpButton/NavigationHelpButton.css">
{% endblock %}
{% block content %}
<div id="mapDiv">
</div>
{% endblock %}
{% block bottomIncludes %}
    <script type="module" src="{% static 'tablemtnmap/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'tablemtnmap/main.css' %}">
{% endblock %}
