<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Theo's Geospatial Demo</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'lib/bootstrap/v5_3_0/bootstrap.min.css' %}">
    {% block includes %}
        <!-- script/style tags at the top -->
    {% endblock %}
</head>
<body>
    <div class="d-flex flex-column vh-100 vw-100 px-0">
        {% block header %}
            <nav class="navbar navbar-expand bg-body-tertiary">
              <div class="container-fluid">
                <a class="navbar-brand" href="/">Theo's Geospatial Demo</a>
                {% block loginBtn %}
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">USER</button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">LOG OUT</a></li>
                        <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#profileModal">PROFILE</button></li>
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">ADMIN</a></li>
                    </ul>
                </div>
                {% else %}
                <a class=btn href="{% url 'login' %}">LOG IN</a>
                {% endif %}
                {% endblock %}
              </div>
            </nav>
        {% endblock %}
        {% block profileModal %}
            <!-- Modal -->
            <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="profileModalLabel">User Profile</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>{{user.username}}</div>
                        </div>
                        <div class="modal-footer">
                            <a class=btn href="{% url 'userprofile' %}">EDIT</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
        {% block content %}<!-- default content text (typically empty) -->{% endblock %}
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <script src="{% static 'lib/bootstrap/v5_3_0/bootstrap.bundle.min.js' %}"></script>
        {% block bottomIncludes %}
            <!-- script/style tags at the end -->
        {% endblock %}
    </div>
</body>
</html>

