<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Theo's Geospatial Demo</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'lib/bootstrap/v5_3_0/bootstrap.min.css' %}">
    {% block includes %}
        <!-- script/style tags at the top -->
    {% endblock %}
</head>
<body>
    <div class="d-flex flex-column vh-100 vw-100 px-0">
        {% block header %}
            <nav class="navbar navbar-expand bg-body-tertiary">
              <div class="container-fluid">
                <a class="navbar-brand" href="/">Theo's Geospatial Demo</a>
                {% block loginBtn %}
                {% if user.is_authenticated %}
                <a class="btn" href="{% url 'logout' %}">LOG OUT</a>
                {% else %}
                <a class=btn href="{% url 'login' %}">LOG IN</a>
                {% endif %}
                {% endblock %}
              </div>
            </nav>
        {% endblock %}
        {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
        {% block content %}<!-- default content text (typically empty) -->{% endblock %}
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <script src="{% static 'lib/bootstrap/v5_3_0/bootstrap.bundle.min.js' %}"></script>
        {% block bottomIncludes %}
            <!-- script/style tags at the end -->
        {% endblock %}
    </div>
</body>
</html>

