#formErrors {
    width: 400px;
}
#profileDiv {
    width: 400px;
    max-width: 75%;
}
#userProfileForm {
    width: 100%;
}
#userProfileForm input {
    width: 100%;
}
#userProfileForm .form-control {
    opacity: 0.75;
}
#userProfileForm .btn {
    min-width: 90px;
}
#contentDiv {
    background-image: url("/static/index/img/diemond_rivier_min.jpg");
    background-size: 100% 100%;
}
.mask {
     background-color: rgba(0, 0, 0, 0.6);
}
